torch==1.13.1
torchaudio==0.13.1
numpy==1.22
soundfile
wavio==0.0.4
torchmetrics==0.8.2
matplotlib
librosa==0.9.1
numba==0.55.1
resampy==0.2.2
inflect
tensorboard==2.10.1
tensorflow==2.11.1
argparse
unidecode
